/* -------------------- JavaScript Drum Kit -------------------- */

/* ------------------------------------------------------------
  Normalize css minified
------------------------------------------------------------ */ 
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;box-sizing:border-box}*,:after,:before
{box-sizing:inherit;margin:0;padding:0}article,aside,footer,header,main,nav,section{display:block}a{background-
color:transparent;-webkit-text-decoration-skip:objects;text-decoration:none}abbr[title]{border-bottom:none;text-
decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-
family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-
size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}

/* ------------------------------------------------------------
  Global styles
 ------------------------------------------------------------ */
 body {
  font: 400 100% 'Lato', sans-serif;
  background: black url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 0.05em;
 } 

 .wrapper {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
 }

 h1 {
  font-size: 3.5rem;
  margin: 1em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
 }

 /* ------------------------------------------------------------
  Drum keys styles
 ------------------------------------------------------------ */
 .drum-keys {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
 }

.drum-keys__items {
  flex: 0 0 auto;
  padding: 0.7em 1em;
  border: 3px solid black;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 0.7em;
  border-radius: 2px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease;
}

.play {
  border: 3px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.5);
  transform: scale(1.5);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}

 /* ------------------------------------------------------------
  Media queries
 ------------------------------------------------------------ */
 @media screen and (max-width: 570px) {
   h1 {
     font-size: 3em;
   }

   .drum-keys__items {
     background: rgba(255, 255, 255, 0.2);
   }
  } 

  @media screen and (max-width: 350px) {
    .wrapper {
      height: 70vh;
    }

   h1 {
     font-size: 2.5em;
   }

  }
